<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mangotech2.a123ngo">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature
        android:name="string"
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="false"
        android:icon="@drawable/app_logo"
        android:label="123nGO"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--
        <activity
            android:name=".MainActivity"
            android:theme="@style/ThemeOverlay.AppCompat.Dark">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <activity
            android:name=".Splash"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Home"
            android:icon="@drawable/luxurycar"
            android:label="PICKUP"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBewITCRenoYiRQPoiTYqSQOKiwBXB0Uto" />
        <!-- android:value="AIzaSyCaCs45yBFw97SdSXc2M7F8IZvv6B_Z3O8" -->


        <!-- <activity android:name=".MapFragment"></activity> -->
        <activity
            android:name=".mapdirection"
            android:label="Direction"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Settings"
            android:label="Profile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Verificationcode"
            android:label="Verification Code"
            android:screenOrientation="portrait" />
        <!--
                <service
               android:name=".GPSTracker"
               android:enabled="true"
               android:exported="true"></service>
        -->
        <!--
            <service
            android:name=".GPSTracker"
            android:exported="false" />
        -->
        <activity
            android:name=".ContactUs"
            android:label="Contact Us"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GetFreeRides"
            android:label="Get Free Rides"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Contactusdialog"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert" />
        <activity
            android:name=".Language"
            android:configChanges="locale|orientation"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert" />
        <activity
            android:name=".HomeMain"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Rates"
            android:label="Rates"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainSettings"
            android:label="Settings"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChangePassword"
            android:label="Change Password"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TripConfirmed"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RideLater"
            android:label="Ride Later"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Signin"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SigniUpSignIn"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DriverDetails"
            android:label="Driver Details"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DriverDocuments"
            android:label="Documents"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DriverHome"
            android:label="@string/title_activity_driver_home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DriverRoute"
            android:label="Passenger PickUp "
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DriverMetering"
            android:label="Routing"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DriverBooking"
            android:label="Booking"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".NotificationClass.FirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".NotificationClass.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".DriverBookingConfirmed"
            android:label="Booking Confirmed"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DriverCollectCash"
            android:label="Cash Collection"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DriverCollectedCash"
            android:label="Cash Collected"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyTrip"
            android:label="My Trips"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VehicleDetail"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ForgetPin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ForgetPasswordVerification"
            android:screenOrientation="portrait" />

        <service
            android:name=".Custom_Services.sendlatitudelongitudetoserver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".Driver_MyTrip"
            android:label="My Trips"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UsersFeedback"
            android:label="Feedback"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ForgetChangePassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChangeUserName"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChangeEmailAddress"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DriverReport"
            android:screenOrientation="portrait" />
        <activity android:name=".DriverSubscription"
            android:label="My Subscription"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" ></activity>
    </application>

</manifest>